:root{
    --mainColor:#5d3754;
    --mainFont: 'Playfair Display',serif;
}



/* Start Navbar*/

.navbar{
  background-color: #fff;
}
.nav-item a{
  color: black;
}
.dropdown-item:hover {
  color: var(--mainColor);

}
.navbar-nav .nav-link {
      font-weight: 600;
    }

.search-box {
      border-radius: 25px;
      background: #f5f5f5;
      padding: 5px 15px;
    }
.input-group-text i{
  cursor: pointer;
  
}
.input-group-text i:hover {
  color: var(--mainColor);
  transition: all .5;
}
.nav-icon{
  cursor: pointer;
}
.nav-icon:hover{
border-color: var(--mainColor);
}
/* End Navbar*/
/* Start Shop Dropdown in Navbar */
.nav-listshop li{
 list-style: none ;
}
.figure-shop-list img{
  width: 90%;
}
.navbar .dropdown-menu h4{
  color: var(--mainColor);
  font-family: var(--mainFont);
}
.navbar .dropdown-menu a{
 font-size: 18px;
 font-family: var(--mainFont);
}
.figure-shop-list{
  margin: 0px 43px 6rem;
}
.figure-caption{
  font-size: 22px;
}
@media (max-width: 992px) {
.dropdown-menu .row {
    display: flex;
    flex-wrap: wrap; 
  }

.dropdown-menu .col-md-2,
.dropdown-menu .col-md-4 {
    flex: 0 0 50%; 
    max-width: 50%;
  }
.figure-shop-list img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
.figure-shop-list figcaption {
    text-align: center;
  }
 @media (max-width: 500px) {
  .dropdown-menu .col-md-2,
  .dropdown-menu .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .dropdown-menu .row {
    justify-content: center;
    text-align: center;
  }

.nav-listshop {
    align-items: center;
  }

  .figure-shop-list img {
    max-width: 280px;
    margin: 0 auto;
  }
}
}

/* end Shop Dropdown in Navbar */



/*Start cart offcanvas*/
.offcanvas-body a{
color: var(--mainColor);
font-weight: 700;
}

.offcanvas-body p{
  font-family: var(--mainFont);
  font-size: 26px;
  font-weight: 700;
}


/*Start cart offcanvas*/

/* login form*/
.login-form .container{
    max-width: 450px;
}
.login-form .container h2 {
    font-size: 36px;
    font-family: var(--mainFont);
}
.login-form a{
    color: var(--mainColor);
}

.login-form .btn{
    padding: 10px 30px;
    color: #f5f5f5;
    background-color: var(--mainColor);
}
.btn:hover{
    background-color: #333;
    color: #f5f5f5;
}








/* Start Footer*/
.footer {
  padding-left: 30px;
  background-color: #f8f8f8;
  color: #333;
  
}

.footer h3 {

  font-weight: 600;
  margin-bottom: 16px;
  color: #000;
}

.footer p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 15px;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-links a:hover {
  color: #5d3754;
}

.footer .icon {
  width: 35px;
  height: 35px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.footer .icon:hover {
  background-color: #d2cdcd;
  color: #fff;
  border-color: #5d3754;
}
.newsletter-form .form-control {
  border-radius: 50px 0 0 50px;
  border: 1px solid #d2cdcd;
}
.newsletter-form .btn {
  border-radius: 0 50px 50px 0;
  background-color: #fff;
  border: 1px solid #d2cdcd;
  border-left: none;
  color: #333;
  transition: all 0.3s ease;
}
.newsletter-form .btn:hover {
  background-color: #5d3754;
  color: #fff;
  
}

/* End Footer*/






