:root{
    --mainColor:#5d3754;
    --mainFont: 'Playfair Display,serif';
}
body{
 background-color: #ffffff;
  
}
/* Start Header Marquee */
.header-marquee {
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: #000;
      color: #fff;
      padding: 8px 0;
    }

    .marquee-text p {
      font-size: 16px;
      display:flex;
      animation: scroll 8s linear infinite;
    }

    @keyframes scroll {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(100%);
      }
    }

  
/* End Header Marquee */

/* Start Navbar*/

.navbar{
  background-color: #fff;
}
.nav-item a{
  color: black;
}
.dropdown-item:hover {
  color: var(--mainColor);

}
.navbar-nav .nav-link {
      font-weight: 600;
    }

.search-box {
      border-radius: 25px;
      background: #f5f5f5;
      padding: 5px 15px;
    }
.input-group-text i{
  cursor: pointer;
  
}
.input-group-text i:hover {
  color: var(--mainColor);
  transition: all .5;
}
.nav-icon{
  cursor: pointer;
}
.nav-icon:hover{
border-color: var(--mainColor);
}
/* End Navbar*/


/* Start Hero Section*/

.hero-perfume .carousel-inner {
  position: relative;
}

.hero-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  max-width: 40%;
  padding: 20px;
}

.hero-left {
  left: 5%;
  text-align: left;
}

.hero-right {
  right: 5%;
  text-align: right;
}
.btn {
  padding: 10px 25px;
  background-color: var(--mainColor);
  color: #f5f5f5;
}
@media (max-width: 992px) {
  .hero-content {
    max-width: 70%;
  }

  .hero-content h2 {
    font-size: 20px;
  }

  .hero-content p {
    font-size: 16px;
  }

  .hero-content .btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@media (max-width: 436px) {
  .hero-content {
    max-width: 90%;
    padding: 10px;
  }

  .hero-content h2 {
    font-size: 12px;
    font-weight: 600;
  }

  .hero-content p {
    font-size: 12px;
    font-weight: 600;
  }

  .hero-content .btn {
    font-size: 11px;
    padding: 5px 10px;
  }
}

/* End Hero Section*/

/*  Start Collection */
.collection{
  padding: 40px 0;
}
.collection-item img{
  width: 300px;
  overflow: hidden;
  border-radius: 15px;
  transition: transform 0.5s;
  height: 300px;
}
.collection-item h5{
margin-top: 15px;
}
.collection-item p{
 color: var(--mainColor);
}
.collection-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 10%;

}
.collection-btn a{
  text-decoration: none;
  color: #fff;
}
.collection-item img:hover {
  transform: scale(1.1);
}

.carousel-control-prev-icon{
  margin-right: 100px;
  padding: 20px 20px;
}
.carousel-control-next-icon{
   margin-left: 100px;
  padding: 20px 20px;
}
/*  End Collection */

/* Best Seller women */








/* Best Seller women */



 /* Start Services*/ 
.services{
  padding-top: 20px;
  background-color: var(--mainColor);
  color: #fff;
}
/* End Services*/


/* Start Best_selling Fragrance */
.best-selling-title h3{
  font-weight: 700;
}
.best-selling-title p{
  color: var(--mainColor);
  font-weight: 600;
}

.perfume-name{
  font-weight: 700;
}
.price-new{
  color: var(--mainColor);
  font-weight: 700;
  
}
.badge-save {
      position: absolute;
      top: 8px;
      left: 10px;
      background-color: var(--mainColor);
      color: #fff;
      padding: 5px 10px;
      border-radius: 10px;
      z-index: 10;
    }

.badge-sold {
      position: absolute;
      top: 8px;
      left: 10px;
      background-color:#000;
      color: #fff;
      padding: 5px 10px;
      border-radius: 10px;
      z-index: 10;
    }
.product-card {
      border: none;
      transition: all 0.3s ease;
      border-radius: 10px;
      overflow: hidden;
    }
.product-card:hover {
      transform: translateY(-5px);
    }


/* End Best_selling Fragrance */
.offer-section p{
 font-size: 36px;
 
}
.offer-per{
padding-top: 25px;
 font-family: "Playfair Display", serif;
 font-size: 50px;
}


.border-dashed-custom {
  border: 2px dashed #d8d8d8; /* اللون مشابه للصورة */
      /* نفس حواف الصورة */
}


/* Start Quastions Section*/

.quastion-section {
  background-color: #f8f8f8;
  font-family: var(--mainFont);
  padding: 100px 0;
}

.faq-title h2 {
  color: #000;
  font-family: var(--mainFont);
}

.accordion-button {
  font-weight: 600;
  font-size: 28px;
  color: #000;
  transition: all 0.3s ;
}

.accordion-button:not(.collapsed) {
  color: #000;
  background-color: transparent;
}

.accordion-button:focus {
  box-shadow: none;
}

.accordion-body {
  color: #555;
  font-size: 22px;
}

.faq-image img {
  width: 700px;
  height: 500px;
  transition: transform 0.4s ;
}

.faq-image img:hover {
  transform: scale(1.03);
}
/* End Quastions Section*/

/* Start blog-card*/
.news {
  background-color: #fafafa;
}
.news p{
  color: var(--mainColor);
  font-weight: 700;
}

.news h3 {
  font-size: 1.8rem;
  letter-spacing: 0.5px;
}

.blog-card {
  transition: all 0.3s ease;
  border-radius: 12px;
  overflow: hidden;
}

.blog-card img {
  transition: transform 0.4s ease;
  height: 250px;
  object-fit: cover;
}

.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.blog-card:hover img {
  transform: scale(1.05);
}

.card-body {
  padding: 1.5rem;
}

.card-info i {
  color: #ff7f50;
}

.card-text {
  font-size: 1.05rem;
  line-height: 1.5;
}

@media (max-width: 767.98px) {
  .row.g-4 {
    gap: 1.5rem !important;
  }
  .blog-card img {
    height: 200px;
  }
}

/* End blog-card*/





/* Start Footer*/
.footer {
  padding-left: 30px;
  background-color: #f8f8f8;
  color: #333;
  
}

.footer h3 {

  font-weight: 600;
  margin-bottom: 16px;
  color: #000;
}

.footer p {
  line-height: 1.6;
  margin-bottom: 1rem;
}

.footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer-links li {
  margin-bottom: 0.5rem;
  position: relative;
  padding-left: 15px;
}

.footer-links a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease;
}
.footer-links a:hover {
  color: #5d3754;
}

.footer .icon {
  width: 35px;
  height: 35px;
  border: 1px solid #f5f5f5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #333;
  background-color: #fff;
  transition: all 0.3s;
  cursor: pointer;
}
.footer .icon:hover {
  background-color: #d2cdcd;
  color: #fff;
  border-color: #5d3754;
}
.newsletter-form .form-control {
  border-radius: 50px 0 0 50px;
  border: 1px solid #d2cdcd;
}
.newsletter-form .btn {
  border-radius: 0 50px 50px 0;
  background-color: #fff;
  border: 1px solid #d2cdcd;
  border-left: none;
  color: #333;
  transition: all 0.3s ease;
}
.newsletter-form .btn:hover {
  background-color: #5d3754;
  color: #fff;
  
}

/* End Footer*/






   
   