:root{
    --mainColor:#5d3754;
}
body{
  background-color: aliceblue;
    height: 5000px;
}
/* Start Header Marquee */
.header-marquee {
      width: 100%;
      position: relative;
      overflow: hidden;
      background-color: #000;
      color: #fff;
      padding: 8px 0;
    }

    .marquee-text p {
      display:flex;
      animation: scroll 8s linear infinite;
    }

    @keyframes scroll {
      0% {
        transform: translateX(100%);
      }
      100% {
        transform: translateX(-100%);
      }
    }
/* End Header Marquee */

.navbar{
  background-color: #fff;
}
.nav-item a{
  color: black;
}
.dropdown-item:hover {
  color: var(--mainColor);
}
.navbar-nav .nav-link {
      font-weight: 600;
    }

.search-box {
      border-radius: 25px;
      background: #f5f5f5;
      padding: 5px 15px;
    }
.input-group-text i{
  cursor: pointer;
  
}
.input-group-text i:hover {
  color: var(--mainColor);
  transition: all .5;
}
.nav-icon{
  cursor: pointer;
}
.nav-icon:hover{
border-color: var(--mainColor);
}


   
